<section id="main_home">
   <img class="selo" src="./img/selo-img.png" alt="selo de aprovado">
<div class="conteudo">
   <div class="text"> 
        <h1>Help Finanças</h1>
        <p>Dinheiro só não traz felicidade para quem não sabe o que fazer com ele!</p>

        <button>Clique aqui e saiba mais</button>
    </div>
</div>
<div class="conteudo">
    <img class="cartao" src="./img/cartao.png" alt="cartao">
   
    
</div>
</section>
<section>
    <div class="texto-h2">
        <h2>Conheça nossos professores</h2>
    </div>
<div id="conteudo">
     <div class="cards">
     <img class="card" src="./img/Professora.png" alt="Professora">
    </div>
    <div class="cards">
        <img class="card" src="./img/Professora.png" alt="Professora">
    </div>
    <div class="cards">
        <img class="card" src="./img/Professora.png" alt="Professora">
    </div>
    </div>
</section>

<section id="conteudo_2">
    <div class="rectangle">
        <div class="text">
          <h3>Why do we use it?</h3> 
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <a>Saiba mais</a>
        </div>
    </div>
</section>